<!DOCTYPE html>
<html>
<head>
    <title>MediQuery Chatbot</title>
</head>
<body style="font-family: Arial; background:#f5f5f5">

<div style="width:600px;margin:40px auto;padding:20px;background:white;border-radius:10px">
    <h1>MediQuery Chatbot</h1>

    <div id="chatbox" style="height:350px;border:1px solid #ccc;padding:10px;overflow-y:auto"></div>

    <br>

    <input id="userInput" type="text" placeholder="Ask something..." style="width:80%;padding:10px">
    <button onclick="sendMessage()" style="padding:10px">Send</button>
</div>

<script src="/static/chat.js"></script>

</body>
</html>